{% extends 'base.html' %}

{% block head %}
<title>Smart Streetlight Server</title>
{% endblock %}

{% block body %}
<div class="content" align="center">
    <h1 style="text-align: center">Streetlight Camera</h1>
    <!-- -->
    {% if data|length < 1 %}
    <h4 style="text-align: center"> There are no photos.</h4>
    {% else %}
    <table>
        <tr>
            <th>Photo</th>
            <th>Timestamp</th>
            <th>Speed</th>
            <th>Actions</th>
        </tr>
        {% for row in data %}
            <tr>
                <td><img id="imgs" src="{{ url_for('static',filename='img/' + row.name) }}"></td>
                <td>{{ row.pic_date }}</td>
                <td>{{ row.text}}</td>
                <td>
                    <a href="/delete/{{row.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
<!--
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
-->
</div>
{% endblock %}
